# ignoring mesh Files
*.boundary
*.elements
*.header
*.nodes
*.names
*.prof

# ignoring binary files
*.out
*.so
*.mod

# ignoring precice log files
*events-summary.log
*events.json
*.log

# ignoring specific sif file
entities.sif
venv

# ignoring results directory
Results/
build/
out/
Flow_Over_Heated_Plate/Fluid-elmer/precice-profiling/Fluid-0-1.json
Flow_Over_Heated_Plate/Solid-elmer/precice-profiling/Solid-0-1.json
# ignoring a (potentially added) FEniCS case
Partitioned_Heat_Conduction/fenics
